.center {
    text-align: center;
    color: white;
    padding: 4rem;
}

.centerResultado {
    text-align: center;
    color: white;
    padding: 4rem;
    margin-top: 3rem;
    background-color:#031629;   
    opacity: 0.91;
    
}

p {
    text-align:justify;
    padding: 1rem;
    border-color: #730C02;
    border-style: double;
}